.header {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 35px;
}
.body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin: 0px 100px 100px 100px;
}