<div class="header">
    <h2>¿Quieres preparar tus exámenes de EBAU?</h2>
    <p>¡Esta página será tu mejor aliado!</p>
</div>

<div class="body">
    <p>
        <a href="/list-exams">Lista de exámenes</a> en la que podrás seleccionar el año y la asignatura y descargarte un archivo PDF con el examen elegido.
    </p>
    <p>
        Si te creas un <a href="/login">usuario</a>, podrás compartir tus exámenes y guardarlos en tu lista para revisarlos tantas veces como quieras.
    </p>
    </div>


