h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px;
    text-align: center;
    font-size: 30px;
}

.list-exams{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10%;

    &__input{
        border-radius: 20px;
        font-size: 20px;
        text-align: center;
    }
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}