<div class="examDetail" *ngIf= "exam && subject">
    <p>{{exam.year}}</p>
    <p>{{exam.announcement}}</p>
    <div>
        <h3>{{ subject[0].name }}</h3>
        <p *ngIf="subject[0].notes">Consulta aquí el <a href="{{ subject[0].notes }}">temario oficial del BOCM</a></p>
    </div>

    <button class="examDetail__button"><a class="examDetail__link" href="{{exam.exam}}">DESCARGA</a></button>
</div>
<div class="container">
<button class="examDetail__button"><a class="examDetail__link" href="/list-exams">VOLVER A LA LISTA DE EXÁMENES</a></button>
</div>